################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/C_and_Pointer/config
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/tasks.vs.json
/.vs/VSWorkspaceState.json
/Project1/.vs/Project1/v16/.suo
/Project1/.vs/Project1/v16/Browse.VC.db
*.opendb
/Project1/Debug
/Project1/.vs/Project1/v16/ipch/AutoPCH/aa5eb9cad60e4884
/.vs/C_and_Pointer/v16
/Project1/.vs/Project1/v16/ipch/AutoPCH/930ae81c0623a0d6
/Project1/.vs/Project1/v16/ipch/AutoPCH/c9376a7615223e20
/Project1/.vs/Project1/v16/ipch/AutoPCH
/第三章作业/Debug
/第三章作业/第三章作业.vcxproj
/第三章作业/第三章作业.vcxproj.filters
/第三章作业/第三章作业.vcxproj.user
